{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Desarrollador y Diseñador Web profesional.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.90, maximum-scale=1.0, user-scalable=yes">
    
    <title>{% block title %}Mi aplicación{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'mi_app/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'mi_app/css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'mi_app/css/components.css' %}">
    <link rel="stylesheet" href="{% static 'mi_app/css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'mi_app/css/background.css' %}">

    {% block extra_css %}{% endblock %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const darkModeActivo = localStorage.getItem('dark-mode') === 'true';

            if (darkModeActivo) {
            document.body.classList.add('dark-mode');
            }

            document.body.style.visibility = 'visible';
        });
    </script>

</head>
<body>

<header class="app-header">
    {% block header %}
    <!-- Header visual (logo, botones, etc.) -->
    <h1>Panel principal</h1>
    <button id="modoOscuro">🌙 Modo Oscuro</button>
    {% endblock %}
</header>

<nav>
    {% block nav %}
    <!-- Navegación visual -->
    <a href="{% url 'dashboard' %}">Inicio</a>
    <a href="{% url 'listar_clientes' %}">Clientes</a>
    <a href="{% url 'listar_productos' %}">Productos</a>
    <a href="{% url 'crear_factura' %}">Crear Factura</a>
    <a href="{% url 'listar_borradores' %}">Facturas en Borrador</a>
    <a href="{% url 'listar_facturas' %}">Facturas Emitidas</a>
    {% endblock %}
</nav>


<div class="main-container">

    <div class="content">
        {% block content %}{% endblock %}
    </div>

<aside>
    {% block aside %}

    {% if messages %}
    <div class="aside-messages">
        <ul>
            {% for message in messages %}
                <li class="message {{ message.tags }}">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <hr>
    {% endif %}

    <!-- <h3>Espacio publicitario:</h3> 
    <center>
        <h2>NEW WORLD</h2>
        <p>Desarrollador y Diseñador Web profesional.</p>
        <p>Total de clientes: {{ total_clientes }}</p>            
    </center> -->

    {% endblock %}
</aside>


</div>

<footer>
    {% block footer %}
    <p>&copy; 2025 
        <a href="https://iconicastill.com/" target="_blank">iconicastill</a>. 
        By Nicolas Castillo Camacho
    </p>
    {% endblock %}
</footer>

<script src="{% static 'mi_app/js/scripts.js' %}"></script>
{% block extra_js %}{% endblock %}

</body>
</html>