{% extends "mi_app/base.html" %}

{% block title %}Listado de Productos{% endblock %}

{% block content %}

<h1>Productos</h1>

<a href="{% url 'dashboard' %}">← Volver al dashboard</a>
<br><br>

<a href="{% url 'agregar_producto' %}">Agregar producto</a>

<hr>

<form method="get">
    <input
        type="text"
        name="q"
        placeholder="Buscar producto..."
        value="{{ query }}"
    >
    <button type="submit">Buscar</button>
</form>

<ul>
{% for producto in productos %}
    <li>
        <strong>
            <a href="#"
                onclick="mostrarProducto(
                        '{{ producto.nombre|escapejs }}',
                        '{{ producto.descripcion|escapejs }}'
                )">
                {{ producto.nombre }}
            </a>
        </strong> 
        
            ({{ producto.codigo }}) |
        RD$ {{ producto.precio }}

        {% if producto.tipo == 'fisico' %}
            | Stock:
            {{ producto.inventario.cantidad|default:"0" }}
        {% else %}
            | Servicio
        {% endif %}

        <a href="{% url 'editar_producto' producto.id %}">Editar</a>
        <a href="{% url 'eliminar_producto' producto.id %}">Eliminar</a>
    </li>
{% empty %}
    <li>No hay productos registrados</li>
{% endfor %}
</ul>

<div id="producto-modal" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5);">
    <div style="background:white; width:400px; margin:10% auto; padding:20px; border-radius:8px;">
        <h3 id="modal-nombre"></h3>
        <p id="modal-descripcion"></p>

        <button onclick="cerrarModal()">Cerrar</button>
    </div>
</div>

{% endblock %}
