html, body {
    height: 100%;
    margin: 0;
}

body {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Fondo */
body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url('/static/mi_app/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur(6px);
    transform: scale(1.05); /* evita bordes blancos por el blur */
    z-index: -1;
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: -1;
}

/* MODO OSCURO */

body.dark-mode::after {
    background: rgba(0, 0, 0, 0.85);
}