:root {
    --main-bg-color: #f0f0f0;
    --main-text-color: #333333;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 1.25;
    font-weight: normal;
}

a {
    color: #005dff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}   

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

/* DARKS MODE */

body.dark-mode a {
    color: #ffffff;
}
