:root {
    --main-bg-color: #f0f0f0;
    --main-text-color: #ffffff;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 1.25;
    font-weight: normal;
}

a {
    color: #005dff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

a.btn:hover {
    background-color: #6e0c0c;
}   

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

div#producto-modal {
    color: #002d7b;
}

/* DARKS MODE */

body.dark-mode a {
    color: #ffffff;
}

body.dark-mode a.btn:hover {
    background-color: #6e0c0c;
}

body.dark-mode div#producto-modal {
    color: #000000;
}