button, .btn {
    background-color: #00000073;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px 0;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

td.monto,
th.monto {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

/* MODO OSCURO */

body.dark-mode button, body.dark-mode .btn {
    background-color: #333333;
    color: #ffffff;
}

.dark-mode button:hover {
    background-color: #45a049;
}
