body {
    visibility: hidden;

    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    /* background-color: var(--main-bg-color); */
    color: var(--main-text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/static/mi_app/images/background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* opcional */
}
 

header.app-header {
    background-color: #005eff81;
    color: white;
    padding: 10px 0;
    text-align: center;
    /* position: fixed;
    width: 100%; */
}

nav {
    background-color: #e3e3e3;
    padding: 10px;
}
nav a {
    margin: 0 10px;
}
nav a.active {
    font-weight: bold;
}

.main-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex: 1;
}

.content {
    flex: 1;
    margin-bottom: 10vh;
}

aside {
    width: 50%;
    padding: 15px;
    border: 1px solid #ccc;

    /* LA CLAVE */
    max-height: 160px;
    overflow-y: auto;


    overflow-y: auto;
    position: sticky;
    top: 80px; /* altura del header */
    border-radius: 8px;
}

footer {
    background-color: #e3e3e381;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

/* MODO OSCURO */

body.dark-mode{
    background-color: #444444;
    color: #ffffff;
}

body.dark-mode header.app-header {
    background-color: #0000007c;
    color: #ffffff;
}

body.dark-mode nav {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode aside {
    /* background-color: #ffffff; */
    color: #000000;
}

body.dark-mode footer {
    background-color: #3333337e;
    color: #ffffff;
}

/* RESPONSIVE DESIGN */

@media(max-width:1200px){

}

@media(max-width:990px){
    /* .content {
        margin-bottom: 15vh;
    } */

}

@media(max-width:768px){
    .main-container {
        display: flex;
    }

    aside {
        width: 100%;
        order: -1; /* SE VA ARRIBA */
        position: static;
    }

    /* .content {
        margin-bottom: 15vh;
    } */

    .main-container {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    aside {
        width: 100%;
        max-width: 100%;
        /* overflow-x: hidden; */

        height: auto;         
        max-height: none;     
        overflow: visible;    
        position: static;
        order: -1;
    }

    .main-container {
        overflow-x: hidden;
    }
}


@media(max-width:450px){
    /* .main-container {
        display: block;
    } */
}