body {
    visibility: hidden;
}

body {
    /* background-color: var(--main-bg-color); */
    color: var(--main-text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/static/mi_app/images/background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* opcional */
}
 

header.app-header {
    background-color: #005eff81;
    color: white;
    padding: 10px 0;
    text-align: center;
    /* position: fixed;
    width: 100%; */
}

nav {
    background-color: #e3e3e3;
    padding: 10px;
}
nav a {
    margin: 0 10px;
}
nav a.active {
    font-weight: bold;
}

.main-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 0 0 50px 0;
}

.content {
    flex: 3;
    margin-bottom: 10vh;
}

aside {
    flex: 1;
    background-color: #f5f5f5;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    margin: 0 0 20vh 0;
}

footer {
    background-color: #e3e3e381;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* MODO OSCURO */

body.dark-mode{
    background-color: #444444;
    color: #ffffff;
}

body.dark-mode header.app-header {
    background-color: #0000007c;
    color: #ffffff;
}

body.dark-mode nav {
    background-color: #333333;
    color: #ffffff;
}

body.dark-mode aside {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode footer {
    background-color: #3333337e;
    color: #ffffff;
}

/* RESPONSIVE DESIGN */

@media(max-width:1200px){

}

@media(max-width:990px){

}

@media(max-width:768px){
    .main-container {
        display: block;
    }
}

@media(max-width:450px){
    .main-container {
        display: block;
    }
}